@{
    ViewData["Title"] = "ALTAŞ";
}
@* @{
    Layout = "~/Views/Shared/_LayoutG.cshtml";
} *@

<div class="text-center">
    <h1 class="display-4">Altaş Alüminyum</h1>
    <p> Türkiye'nin Alüminyum Üreticisi <a href="https://www.altasal.com">www.altasal.com</a> </p>
    @* <p> <a class="btn btn-pprimary" asp-controller="Log" asp-action="Login">Giriş</a>  </p> *@
</div>


