@{
    ViewData["Title"] = "Satın Alma";
}
@* @{
    Layout = "~/Views/Shared/_LayoutS.cshtml";
} *@
@Html.Partial("_SASidebar")


<div class="card shadow-lg border-0" style="width: 80%; margin-top: 20px;margin-left: 20px">
    <div class="card-header rounded bg-plato ml-0 py-3">
        <div class="col-12 text-light text-center">
                        <h2 class="display-8">Altaş Satın Alma</h2>
                    </div>                
            </div>
            <div class="card-body">
                <div class="text-center bg-platocard py-4">
                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
        </div>             
    </div>
 </div>

